body{
    font-family: 'Permanent Marker';
    font-size: 50px;
    margin: 50px;
}

.timer {
    display: flex;
    justify-content: center;
    font-family: Staatliches;
   
}

.field {
    flex-basis: 200;
    font-size: 24px;
    font-weight: 600;
    margin-right: 30px;
}

.birthday{
    margin-bottom: 30px;
    text-align: center;
}